<div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 mt-3">
        <h1 class="text-container text-center">Agenda</h1>
        <p class="text-center lead">Your contacts:</p>
  
        <div class="row">
          <div class="col ny-3">
            <div class="alert alert-danger">Any error!</div>
          </div>
        </div>
  
        <div class="responsive-table">
          <table class="table my-3">
            <tr>
              <td>Luis</td>
              <td>Alberto</td>
              <td>(21)9999-1221</td>
              <td>lalberto@gmail.com</td>
            </tr>
          </table>
        </div>
  
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
  