* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
}

body {
    margin: 50px;
}

.calcContainer {
    height: 300px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 7px;
}

.display {
    grid-column: span 4;
    border: 1px solid black;
    text-align: right;
    font-size: 27pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn {
    background-color: #efefef;
    font-size: 14pt;
}

.btn:hover {
    background-color: #dfdfdf;
}

.btn:active {
    background-color: rgb(255, 255, 255);
}